*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";    
}
/*HEADER*/
.site-header{
    background: black;     
}

.site-header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding:  18px 0 13px 20px;
}

.search{
    padding: 18px;
}

/*REGISTER*/



.hero {
  min-height: 80vh;
  background-image: url("../images/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: left;
}



.register-content {
    
    max-width: 600px;
    padding: 10px;
     margin: 55px;
    color: #fff;
}

.register-content h1 {
    font-size: 70px;
    font-family: "Oswald";
    
}

.register-content p{
    margin: 15px 0 15px 0;
}



.register-content button {
    padding: 10px  15px 10px 15px;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 20px;
    
    
    font-weight: bold;
    cursor: pointer;
    
    
}


/*DANCE TOUR*/

#dance-tour{
    display: flex;
    background: #ff6600;
    color: white;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    padding: 42px;
}


#dance-tour .tittle-dance-tour{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 600px;
}

#dance-tour .tittle-dance-tour h2{
margin-bottom: 20px;
font-family: "Oswald";
font-size: 70px;
}

#dance-tour .tittle-dance-tour p{
    font-size: 20px;
}
#dance-tour .section-img {
    display: flex;
    column-gap: 50px;
    
}

#dance-tour .section-img .content-image{
   display: flex;
   width: 372px;
   flex-direction: column;
   align-items: center;
   gap: 8px;
   text-align: center;
   background-color: #333333;
   padding: 0 0 30px 0;
   
   
}







/*PRICING*/
#pricing{
    display: flex;
    background: #333333;
    color: white;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}

#pricing .tittle-pricing{
     padding: 30px;     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
}

#pricing .tittle-pricing h2{
    margin-bottom: 20px;
    font-family: "Oswald";
    font-size: 70px;

}

#pricing .tittle-pricing p{
    font-size: 20px;
}


#pricing .section-pricing{
    display: flex;
    column-gap: 50px;

}

#pricing .section-pricing .content-pricing{
    
    margin-bottom: 30px;
    background: #ff6600;
    width:280px;
    padding:40px 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    text-align: center;   
}

#pricing .section-pricing .content-pricing img{   
    
    margin-bottom:20px; 
}

#pricing .section-pricing .content-pricing h3,
#pricing .section-pricing .content-pricing p{
    
    width: 200px;
    padding: 10px;
    display: flex;    
    text-align: justify;
}

#pricing .section-pricing .content-pricing button{
    background: #333333;
    border: none;
    color: white;
    width: 200px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    font-size: 18px;
}


/*FOOTER*/
#footer{
    background: #ff6600;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*media query*/

@media (max-width: 1279px){


 

    .site-header{
        background-color: aqua;
        width: 100%;
        max-width: 1279px;
    }    

    #dance-tour .section-img {
    display: flex;
    row-gap: 30px   ;
    flex-wrap: wrap;
    flex-direction: column;
    }
    
    .section-pricing{
    width: 100%;
    max-width: 900px;
    }
   
}

@media(max-width:921){ 
  
    .site-header{
    background-color: rgb(29, 17, 255);
    width: 100%;
    max-width: 921px;
    }    

    
}


@media ( max-width: 920px){


    .site-header{
    background-color: rgb(119, 3, 235);
    width: 100%;
    max-width: 920px;
    }



    .section-pricing{
    width: 100%;
    max-width: 850px;
    }
}



















