*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
/*HEADER*/
.site-header{
    background: black;     
}

.site-header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding:  18px 0 13px 20px;
}

.search{
    padding: 18px;
}

/*REGISTER*/



.hero {
  min-height: 80vh;
  background-image: url("../images/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
}



.register-content {
    
    max-width: 600px;
    padding: 10px;
    margin-left:  32px;
    color: #fff;
}

.register-content h1 {
    font-size: 70px;
    
}



.register-content button {
    padding: 10px  15px 10px 15px;
    background-color: #ff6600;
    color: white;
    border: none;
    
    font-weight: bold;
    cursor: pointer;
    
    
}
